.game-field {
  display: grid;
  grid-template-columns: repeat(10, 0fr);
  width: 20em;
  height: 40em;
}

.game-field:focus {
  outline: none;
}

.cell {
  background-color: #ECEBE4;
  width: 2em;
  height: 2em;
  border-width: 1px;
  border-color: #cfcec6;
  border-style: solid;
}

.filled-cell {
  background-color: #D4616C;
}