@page "/"
@inject NavigationManager Navigation

<div class="d-flex flex-column align-items-center flex-grow-1">
  <div class="d-flex flex-column justify-content-center flex-content">
    <MudText Typo="Typo.h1" Class="fw-bold" Color="Color.Primary" Align="Align.Center">
      Tetris
    </MudText>

    <MudText Typo="Typo.h5" Color="Color.Secondary" Align="Align.Center">
      It's a simple app built with
      <MudText Color="Color.Primary" Inline="true" GutterBottom="true" Typo="Typo.inherit">Blazor</MudText>
      <MudIcon Icon="@Icons.Material.Filled.Favorite" Color="Color.Primary" Title="Favorite"/>
    </MudText>

    <MudStack Justify="Justify.Center" AlignItems="AlignItems.Stretch" Spacing="2" Class="px-5 mt-5">

      <MudButton Variant="Variant.Filled" Color="Color.Primary"
                 FullWidth="false" Size="Size.Large"
                 DisableElevation="true"
                 OnClick="GoToGame">
        Play solo
      </MudButton>

      <MudButton Variant="Variant.Filled" Color="Color.Primary"
                 FullWidth="false" Size="Size.Large"
                 DisableElevation="true"
                 OnClick="GoToLobbies">
        Play with others
      </MudButton>

    </MudStack>
  </div>
</div>

@code {

  private void GoToGame()
  {
    Navigation.NavigateTo("/play");
  }

  private void GoToLobbies()
  {
    Navigation.NavigateTo("/lobbies");
  }
}