@page "/"
@inject NavigationManager Navigation

<div class="d-flex flex-column align-items-center flex-grow-1">
  <div class="d-flex flex-column justify-content-center flex-content">
    <MudText Typo="Typo.h1" Class="fw-bold" Color="Color.Primary" Align="Align.Center">
      Tetris
    </MudText>

    <MudText Typo="Typo.h5" Color="Color.Secondary" Align="Align.Center">
      It's a simple app built with
      <MudText Color="Color.Primary" Inline="true" GutterBottom="true" Typo="Typo.inherit">Blazor</MudText>
      <MudIcon Icon="@Icons.Material.Filled.Favorite" Color="Color.Primary" Title="Favorite"/>
    </MudText>
    <MudButton Variant="Variant.Filled" Color="Color.Primary"
               FullWidth="false" Size="Size.Large"
               DisableElevation="true"
               Class="align-self-center mt-5"
               OnClick="GoToGame">
      Play
    </MudButton>
  </div>
</div>

@code {

  private void GoToGame()
  {
    Navigation.NavigateTo("/play");
  }
}