@page "/play"
@using Tetris.Blazor.Shared.Entities

@inject IDialogService _dialogService
@inject NavigationManager _navigation

<div class="game-container">
  <MudPaper Elevation="0" Square="true">
    <MudText Align="Align.Center">Score: @_game?.Score</MudText>
  </MudPaper>
  <div class="game">
    <GameView Game="_game"></GameView>
  </div>
</div>

@code
{
  private Game? _game;
  private readonly DialogOptions _options = new() { Position = DialogPosition.Center, MaxWidth = MaxWidth.Large };

  protected override void OnInitialized()
  {
    _game = new Game();
    _game.ScoreUpdated += StateHasChanged;
    _game.GameOver += async () => await ShowGameOverDialog();
    _game.Start();
  }

  private async Task ShowGameOverDialog()
  {
    var parameters = new DialogParameters {{"Score", _game?.Score}};
    var dialog = await _dialogService.ShowAsync<GameOverDialog>("Try again?", parameters, _options);
    var result = await dialog.Result;
    if (result.Canceled)
    {
      _navigation.NavigateTo("/");
    }  
    else
    {
      _game?.Start();
    }
  }
}
