@using Tetris.Blazor.Shared.Entities

<MudDialog>
  <DialogContent>
    <MudContainer>
      <div class="d-flex flex-column align-items-start">
        <MudCheckBox @bind-Checked="@_newGame.IsPrivate"
                     Dense="true"
                     UncheckedIcon="@Icons.Material.Outlined.Lock"
                     CheckedIcon="@Icons.Material.Filled.Lock"
                     Color="Color.Primary">
          <MudText Color="Color.Secondary">
            Private
          </MudText>
        </MudCheckBox>
        <MudTextField @bind-Value="@_newGame.Name"
                      Label="Name"
                      AdornmentColor="Color.Secondary"
                      Variant="Variant.Text"></MudTextField>
      </div>
    </MudContainer>
  </DialogContent>
  <DialogActions>
    <MudButton DisableElevation="true"
               Variant="Variant.Filled"
               Color="Color.Primary"
               OnClick="Submit">
      Create
    </MudButton>
  </DialogActions>
</MudDialog>

@code {
  [CascadingParameter]
  MudDialogInstance MudDialog { get; set; }

  private NewGameDto _newGame = new NewGameDto();

  void Submit() => MudDialog.Close(DialogResult.Ok(_newGame));
  void Cancel() => MudDialog.Cancel();
}