<MudDialog>
  <DialogContent>
    <MudContainer>
      <div class="d-flex flex-column">
        <MudText Typo="Typo.body1" Color="Color.Secondary" Align="Align.Left">To move tetrominos use <b>Arrow</b> keys.</MudText>
        <MudText Typo="Typo.body1" Color="Color.Secondary" Align="Align.Left">To quick land use <b>Space</b> key.</MudText>
      </div>
    </MudContainer>
  </DialogContent>
  <DialogActions>
    <MudButton DisableElevation="true"
               Variant="Variant.Filled"
               Color="Color.Primary"
               OnClick="Submit">
      Okay
    </MudButton>
  </DialogActions>
</MudDialog>

@code {
  [CascadingParameter]
  MudDialogInstance MudDialog { get; set; }

  [Parameter] public int Score { get; set; }

  void Submit() => MudDialog.Close(DialogResult.Ok(true));
  void Cancel() => MudDialog.Cancel();
}
