@using MudBlazor.Utilities
@inherits LayoutComponentBase

<MudThemeProvider Theme="MyTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="background">
  <NavBar></NavBar>
  <div class="body-container">
    @Body
  </div>
</MudLayout>

@code {

  readonly MudTheme MyTheme = new MudTheme()
    {
      Palette = new Palette()
      {
        Primary = "#D4616C",
        Secondary = "#3C596F",
        TextPrimary = "#D4616C",
        TextSecondary = "#1f1f1f"
      }
    };
}
